<div class="accounts">
  <h1>accounts</h1>
  <div class="">
    <p>account balance</p>
    <h1><%=accountBalance.amount%></h1>
  </div>
  <h1>accounts</h1>
  <div class="">
    <p>account pending</p>
    <h1><%=pending.amount%></h1>
  </div>
  <h1>accounts</h1>
  <div class="">
    <p>account processedData</p>
    <h1><%=processedData.amount%></h1>
  </div>
</div>
