<nav class="navbar">
  <a class="navbarName" href="/">Dashboard Confessional</a>
  <ul class="navbarList">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://hipsum.co/">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://hipsum.co/">Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://hipsum.co/">Leaves</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://hipsum.co/">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://hipsum.co/">Timesheet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://hipsum.co/">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://hipsum.co/">Account</a>
    </li>
  </ul>
</nav>
