.contanier{
    display: flex;
    height: 300px;
    width: 300px;
}

.left{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: red;
}
.center{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: blue
}
.right{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: green
}

