<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/navbar'); %></header>
    <div class="content">
      <%- include('../partials/accounts'); %> <%-
      include('../partials/recent');%>
    </div>
  </body>
</html>
